@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}


<div class="container">
    <div class="row border border-1">
        <div class="col-12">
            <h1 class="mt-2 text-primary text-center" >Category Creation</h1>
            <form>
                <div class="d-flex align-items-center justify-content-center">
                    <label class="form-label me-2 pt-1">Name:</label>
                    <input type="text" class="form-control p-1 w-25" />
                </div>
                <div class="mt-2 text-center mb-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>
