@model Producent
@{
    ViewData["Title"] = "Delete Producent";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<h1>Delete</h1>
<form method="post">
    <div class="container border border-1">
        <input asp-for="Id" hidden />
        <h1 class="mt-2 text-primary text-center">Producent Creation</h1>
        <div class="row justify-content-center">
            <div class="row w-100 ">
                <div class="mb-1 row g-1 justify-content-center align-items-center">
                    <div class="col-4 text-end">
                        <label asp-for="Name" class=""></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" type="text" class="form-control w-50" disabled />
                    </div>
                </div>
                <span class="text-danger text-center" asp-validation-for="Name"></span>
                <div class="mb-1 row g-1 justify-content-center align-items-center">
                    <div class="col-4 text-end">
                        <label asp-for="ProducentCode" class=""></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ProducentCode" type="text" class="form-control w-50" disabled />
                    </div>
                </div>
                <span class="text-danger text-center " asp-validation-for="ProducentCode"></span>
                <div class="mb-1 row g-1 justify-content-center align-items-center">
                    <div class="col-4 text-end">
                        <label asp-for="EAN" class=""></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EAN" type="text" class="form-control w-50" disabled />
                    </div>
                </div>
                <span class="text-danger text-center" asp-validation-for="EAN"></span>
            </div>
            <button type="submit" class="btn btn-danger mt-3 mb-3" asp-route="" style="width:16%;">Delete</button>
            <a asp-action="Managment" class="btn btn-info mt-3 mb-3 " style="width:16%;">Back</a>
        </div>
    </div>

</form>

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
