@using WixapolShop.Areas.Customer.ViewModels
@model ProductSearchVM 


@{
    ViewData["Title"] = "ProductsCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .search-result
    {
        color: #0d0d0d;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    vertical-align: baseline;
}
    .search-result-count
    {
            display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-left: 4px;
    vertical-align: baseline;
}
.cat-label:hover{
    cursor:pointer;
    text-decoration:underline;
}
.cat-checkbox:hover{
    border-color: #f4aa90;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(233, 84, 32, 0.25);
}
</style>


<div class="container">
    <div class="row">
        <div class="d-inline-block mt-3 ">
            <span class="search-result">Searching
                <q>@Model.query.Phrase</q>
            </span>
            <span class="search-result-count">(@Model.Products.Count)</span>
    </div>
    <form>
    <div class="row mt-4">
        <div class="col-3">
            <div class="rounded-2 p-3" style="background-color:white;">
                <span class="mb-3 fw-bold">Categories</span>
                <div class="mt-2">
                    <input type="checkbox" id="cat1" class="form-check-input p-2 me-2 cat-checkbox" >
                    <label for="cat1" class="form-check-label cat-label">Test <span>(Count)</span></label>
                </div>
            </div>
            <div class="mt-1 p-3" >
                <span class="mb-3 fw-bold">Producents</span>
                <div class="mt-2">
                    <input type="checkbox" id="prod1" class="form-check-input p-2 me-2 cat-checkbox" >
                    <label for="prod1" class="form-check-label cat-label">Test <span>(Count)</span></label>
                </div>
            </div>

         </div>
            <div class="col-9">
                <div class="mt-3 d-flex align-items-end justify-content-between ">
                    <div class="" style="max-width:30%; width:30%;">
                        <div class="cat-apply-button">
                            <button type="submit" class="btn btn-outline-dark pt-2 w-100" >Apply Filters</button>
                        </div>
                    </div>
                    <div class="" style="max-width:38%; width:38%">
                        <div class="wrapper-price">
                            <div class="price-input">
                                <div class="field">
                                    <span>Min</span>
                                    <input type="number" class="input-min" value="0"/>
                                </div>
                                <div class="seperator">-</div>
                                <div class="field">
                                    <span>Max</span>
                                    <input type="number" class="input-max" value="7000"/>
                                </div>
                            </div>
                            <div class="slider">
                                <div class="progress-price"></div>
                            </div>
                            <div class="range-input">
                                <input type="range" class="range-min" min="0" max="7000" value="0" step="10"/>
                                <input type="range" class="range-max" min="0" max="7000" value="7000" step="10"/>
                            </div>
                        </div>
                    </div>
                    <div class="" style="max-width:22%; width:22%;">
                        <div class="">
                            <select class="form-select form-select">
                                <option selected>Default Sorting</option>
                                <option value="1">Price - Ascending</option>
                                <option value="2">Price - Descending</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            </>
        </div>
        </form>
    </div>
</div>



