html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer[b-gw8st0tpdd] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.top-link {
    border: 1px solid white;
}

    .top-link:hover {
        border-bottom: 1px solid #e95420;
    }

.frgt-password-link:hover {
    text-decoration: underline;
}


.separator-decorated {
    position: relative;
    text-align: center;
}

    .separator-decorated::before {
        content: "";
        height: 1px;
        left: 0px;
        position: absolute;
        top: 50%;
        width: 100%;
        background: rgb(242, 242, 242);
    }

    .separator-decorated > .text {
        font-size: 18px;
        position: relative;
        z-index: 1;
        background: rgb(255, 255, 255);
        padding: 0px 20px;
    }

.dropdown-new {
    position: relative;
}

.dropdown-settings {
    background: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 0 8px 8px 8px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    left: 0;
    min-height: 55px;
    overflow: hidden;
    position: absolute;
    top: 68px;
    width: 200px;
    z-index: 5;
    display: none;
}

    .dropdown-settings li a {
        color: #0d0d0d;
        display: block;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: .4px;
        line-height: 1.45;
        padding: 6px 18px;
        position: relative;
        text-decoration: none;
    }

.dropdown-content li.dropdown-item-logout a {
    background: #f2f2f2;
    padding: 17px 18px;
}

.dropdown-content li {
    position: relative;
}

.dropdown-content {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-item:hover {
    background: #f2f2f2;
}

.dropdown-item-account:hover {
    background: #f2f2f2;
}

.dropdown-item-account {
    border-bottom: 1px solid #eee;
    margin-bottom: 19px;
}

.dropdown-item-logout {
    margin-top: 20px;
}

.categories-header {
    align-items: center;
    color: #ff503c;
    display: block;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    letter-spacing: -.6px;
    line-height: 1.5;
    padding: 16px 15px;
    text-align: center;
}

.horizontal-navigation {
    flex: 0 0 calc(100% - 260px);
    width: calc(100% - 260px);
}

    .horizontal-navigation ul {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
    }

        .horizontal-navigation ul li a {
            color: #0d0d0d;
            display: block;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -.6px;
            line-height: 1.5;
            padding: 16px 24px;
            position: relative;
            text-align: center;
            text-decoration: none;
        }

.h-line {
    background: #ff503c;
    border-radius: 8px;
    bottom: 0;
    height: 0px;
    left: 0;
    position: absolute;
    right: 0;
}

.horizontal-nav-link:hover .h-line {
    height: 3px;
}

.price-input {
    width: 100%;
    display: flex;
}

    .price-input .field {
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;
    }

.field input {
    width: 100%;
    height: 50%;
    outline: none;
    text-align: center;
    margin-left: 12px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    -moz-appearance: textfield;
}

.price-input .seperator {
    width: 100px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.range-input {
    position: relative;
}

    .range-input input {
        position: absolute;
        top: -5px;
        height: 5px;
        width: 100%;
        background: none;
        pointer-events: none;
        -webkit-appearance: none;
    }

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #e95420;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider {
    height: 5px;
    border-radius: 5px;
    background: #ddd;
    position: relative;
}

    .slider .progress-price {
        height: 5px;
        left: 0%;
        right: 0%;
        position: absolute;
        border-radius: 5px;
        background: #e95420;
    }


@media (max-width: 576px) {
    .collapse-sm {
        font-size: 14px;
    }
}

@media (min-width: 576px) {
    .collapse-sm {
        font-size: 23px;
    }
}

@media (min-width: 991px) {
    .search-bar {
        width: 700px;
    }
}

@media (max-width: 991px) {
    .search-bar {
        width: 450px;
    }
}

@media (max-width: 520px) {
    .search-bar {
        width: 360px;
    }
}

@media (min-width: 991px) {
    .category-input {
        padding: 13px;
    }
}

@media (max-width: 991px) {
    .category-input {
        padding: 5px;
    }
}

.prod-right {
    width: 250px;
    flex: 0 0 250px;
    max-width: 250px;
}

.search-result {
    color: #0d0d0d;
    display: inline-block;
    font-size: calc(100% + 0.4vw);
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    vertical-align: baseline;
}

.search-result-count {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-left: 4px;
    vertical-align: baseline;
}

.cat-label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cat-checkbox:hover {
    border-color: #f4aa90;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(233, 84, 32, 0.25);
}

.prod-name-style {
    font-size: calc(100% + .2vw);
    font-weight: 600;
    line-height: 1;
    margin: 0px;
    padding: 0px;
}

.prod-feature {
    padding-left: 8px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
}

    .prod-feature::before {
        content: "";
        height: 3px;
        left: 0px;
        position: absolute;
        top: 7px;
        width: 3px;
        background: rgb(13, 13, 13);
        border-radius: 100%;
    }

.price {
    color: rgb(13, 13, 13);
    font-size: calc(100% + 1.1vw);
    font-weight: 600;
    line-height: 1;
}

.tocart-button {
    position: absolute;
    top: 175px;
}

.product-image {
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.container-products {
    margin-left: auto;
    margin-right: auto;
    max-width: 1709px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}




@media(max-width: 793px) {
    .prod-right {
        display: none;
    }

    .img-div {
        width: 200px !important;
        flex: 0 0 200px !important;
    }
}

@media(max-width:991px) {
    .buy-button {
        width: 64px !important;
        height: 58px !important;
    }
}
